header {
    background-color: #a5a098;
}

/* nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav a {
    display: inline-block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: black;
    color: #9ae39a;
} */
