header {
    background-color: white;
    display: flex;
}

nav ul {
    display: flex;
    padding: 2rem;
    list-style-type: none;
}

nav ul li a {
    display: inline-block;
    background-color: #D9D5D5;
    color: black;
    margin: 2rem;
    height: 30px;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    border-radius: 25px;
}

nav a {
    display: inline-block;
    /* padding: 1rem; */
    /* color: white; */
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #5E503F;
    color: white;
}

#searchbutton {
    background-color: #F8F5F5;
    color: #A39797;
    width: 400px;
    height: 30px;
    border-radius: 25px;
    padding: 0;
    border: none;
}
